<nav class="position-sticky top-0 z-1">
    <div class="blog-name">
        <li><img src="/assets/cat.jpg" alt="blog-icon" class="blog-icon"></li>
        <li>Zarexo_o Blog</li>
        <li><a href="/">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/contact">Contact</a></li>
    </div>

    <li><a href="/add-post"><input type="submit" value="Add Post" class="btn btn-primary"></a></li>
</nav>