<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>
<div class="image-bg">
    <div class="center-text">
        <h1>Hello Welcome to My Blog App</h2>
        <p>Created with (NodeJS and ExpressJS)</p>
    </div>
</div>

<div class="container d-flex mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="container-content">
            <div class="card" style="width: 23rem;">
                <div class="bg-content"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-success">Edit</a>
                  <a href="#" class="btn btn-outline-danger">Delete</a>
                </div>
              </div>
        </div>
        <div class="container-content">
            <div class="card" style="width: 23rem;">
                <div class="bg-content"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-success">Edit</a>
                  <a href="#" class="btn btn-outline-danger">Delete</a>
                </div>
              </div>
        </div>
        <div class="container-content">
            <div class="card" style="width: 23rem;">
                <div class="bg-content"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-success">Edit</a>
                  <a href="#" class="btn btn-outline-danger">Delete</a>
                </div>
              </div>
        </div>
        <div class="container-content">
            <div class="card" style="width: 23rem;">
                <div class="bg-content"></div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-success">Edit</a>
                  <a href="#" class="btn btn-outline-danger">Delete</a>
                </div>
              </div>
        </div>

    </div>
    
</div>

<%- include('partials/footer.ejs') %>